<% provide(:title, "Saved addresses") %>
<div class="container">
  <div class="row">
    <div class="col-sm-3 col-md-3">
       <% if current_user.admin? %>
            <%= render 'layouts/admin' %> 
        <%else%>
            <%= render 'layouts/customer' %> 
        <%end%> 
    </div>
    <div class="col-md-9">
      <h2>Saved locations</h2>
       <div class="panel-body" style="padding:10px" "border-right:1px solid #ccc">
         <% @addresses.each do |add| %>
         <div class="col-md-3" style="border-right:1px solid #ccc">
          <p><%=simple_format(add.to_s)%></p>
          <div class="btn-group">
              <%= link_to "Edit!",{:controller => :addresses, :action => :edit, :id => add.id},method: :get, class: "btn btn-warning " %>
              <%= link_to "Delete!",{:controller => :addresses, :action => :destroy, :id => add.id},method: :delete, class: "btn btn-danger " %>
            </div>
          </div>
          <%end%>
      </div>
    </div>