<% provide(:title, "Products") %>
<div class="container">
  <div class="row">
    <div class="col-sm-3 col-md-3">

      <% if current_user && current_user.admin? %>
      <%= render 'layouts/admin' %> 
      <% end %>  
    </div> 
    <div class="col-sm-9 col-md-9">
      <div class="well">
        <h1>Product Catalogue</h1>
        <% @products.each do |product| %>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
              <%= link_to product.title ,product %>
            </h3>
            <% if has_img?(product) %>
            <%= image_tag product.avatar.url(:thumb) %>
            <%else%>
             <img alt="Icon" src="/images/na.png" />
            <% end %>
             <% if current_user && current_user.admin? %>
            <a href="#" class="btn btn-warning pull-right">Edit!</a>
            <%else%>
            <a href="#" class="btn btn-primary pull-right">Buy!</a>
            <% end %>
          </div>
           <ul class="list-group">
            <li class="list-group-item list-group-item-warning">
              <span class="badge alert-info"><%=product.price%></span>
              Price
            </li>
            <li class="list-group-item">
              <% if low_stock?(product)%>
              <span class="badge alert-danger"><%=product.quantity%></span>
              <% else %>
              <span class="badge alert-success"><%=product.quantity%></span>
              <%end%>
              Quantity in stock 
            </li>
            <li class="list-group-item list-group-item-warning">
              <span class="badge">1</span>
              Morbi leo risus
            </li>
          </ul>
        </div>
      <% end %>
    </div>
  </div>


