<div class="container">
    <div class="row">
        <div class="col-sm-3 col-md-3">
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><span class="glyphicon glyphicon-folder-close">
                            </span>Products</a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-book text-success"></span>
                                        <%= link_to "Show all products", products_path %>

                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div>
                                           <span class="glyphicon glyphicon-search text-info"></span>
                                           Search for products
                                       </div>
                                       <%= form_tag(products_path, :method => "get", id: "search-form" , class: "form-inline") do %>
                                       <%= text_field_tag :search, params[:search], placeholder: "Search", class: "form-control" %>
                                       <%= submit_tag "Go", :name => nil , class: "btn btn-sm btn-info" %>
                                       <% end %> 
                                   </td>
                               </tr>
                               <tr>
                                <td>

                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"><span class="glyphicon glyphicon-th">
                        </span>My Account</a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse">
                    <div class="panel-body">
                        <table class="table">
                            <tr>
                                <td>
                                    <span class="glyphicon glyphicon-euro text-success"></span>
                                    <%= link_to "View all orders", orders_path %>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="glyphicon glyphicon-pushpin text-success"></span>
                                    <%= link_to "My address book", addresses_path %>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree"><span class="glyphicon glyphicon-user">
                        </span>Users</a>
                    </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse">
                    <div class="panel-body">
                        <table class="table">
                         <tr>
                            <td>
                                <li><%= link_to "Profile",  current_user %></li>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <li><%= link_to "Profile Settings",   edit_user_path(current_user) %></li>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <%= link_to "Log out", signout_path, method: "delete" %>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="glyphicon glyphicon-trash text-danger"></span><%= link_to "Delete Account", current_user, method: :delete,
                                data: { confirm: "Are you sure you want to delete your account, this change cannot be undone?" } %>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>